@font-face {
    font-family: 'Rubik-Regular';
    src: url('../font/Rubik-Regular.ttf');
}

@font-face {
    font-family: 'Rubik-Light';
    src: url('../font/Rubik-Light.ttf');
}

@font-face {
    font-family: 'viga-regular-webfont';
    src: url('../font/viga-regular-webfont.woff');
}

@font-face {
    font-family: 'boarding';
    src: url('../font/Boarding\ PersonalUse.ttf');
}

* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    color: #aab3bb;
}

body {
    background: #011627;
    font-family: 'Rubik-Regular',
        Arial,
        Helvetica,
        sans-serif;
}

.none {
    display: none;
}

.body-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-box .box {
    width: 15px;
    height: 5px;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    border-radius: 10px;
}

.box.jingga {
    background-color: orangered;
}

/* navbar */
nav {
    display: flex;
    background-color: #011627;
    justify-content: space-around;
    height: 50px;
    color: rgb(187, 129, 242);
    align-items: center;
    width: 100%;
    position: fixed;
    z-index: 999;
}

nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
}

nav .logo {
    font-family: 'boarding', Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: bolder !important;
    color: rgb(255, 255, 255)
}

nav ul li a {
    font-size: 14px;
    font-weight: bold;
    font-family: 'Rubik-Regular', sans-serif;
    color: #aab3bb;
    text-decoration: none;
}

nav ul li a:hover {
    color: white;
}

/* hamburger menu */
.menu-toggle {
    display: none;
    flex-direction: column;
    height: 15px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle .toggle {
    display: block;
    width: 18px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    transition: all .5s;
}

.menu-toggle input {
    position: absolute;
    top: -8px;
    left: -16px;
    width: 50px;
    height: 28px;
    opacity: 0;
    cursor: pointer;
    z-index: 4;
}

/* hamburger menu animation */
.menu-toggle .toggle:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle .toggle:nth-child(4) {
    transform: rotate(0 100%);
}

.menu-toggle input:checked~.toggle:nth-child(2) {
    transform: rotate(45deg) translate(0, -1px);
}

.menu-toggle input:checked~.toggle:nth-child(4) {
    transform: rotate(-45deg) translate(3px, -7px);
}

.menu-toggle input:checked~.toggle:nth-child(3) {
    transform: scale(0);
}

/* main */
main article.header-profile {
    /* background-image: url('../img/green.jpg');
    height: 100%; */
    padding-top: 150px;
    /* background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed; */
}

#about,
#service,
#resume,
#portfolio,
#blog,
#contact {
    padding-top: 70px;
}

div.hr {
    margin: 20px auto 45px;
    width: 200px;
    height: 2.4px;
    border-radius: 3px;
    background-image: linear-gradient(to left, rgba(255, 68, 0, 0.1), orangered, rgba(255, 68, 0, 0.1));
}

section {
    min-height: 500px;
    box-sizing: border-box;
    width: 73.5%;
    margin: auto;
}

section .thumbnail {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}

section img.profile {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid #636c74;
}

section .name,
section .job-des {
    text-align: center;
}

/* job des */
.header-profile section h2 {
    font-family: 'viga-regular-webfont', Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 10px;
    font-size: 1.5em;
    transition: all 2s;
}

.header-profile section h2 span#typed {
    color: #aab3bb;
    margin-left: -20px;
}

/* end */

section h2 {
    text-align: center;
    margin-bottom: 30px;
}

section p {
    text-align: left;
}

aside {
    margin-top: -300px;
}

aside ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

aside ul li {
    margin: 10px;
}

aside ul li a img {
    padding: 10px;
}

/* card button */
.card-button {
    display: flex;
    width: 300px;
    justify-content: space-evenly;
    margin: auto;
    transition: all 1s;
}

.card-button .card {
    background-color: orangered;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #aab3bb;
    width: 35%;
    height: 30px;
    border-radius: 20px;
    transition: all .3s;
    border: orangered;
}

.card-button .card a {
    font-size: 12px;
    text-decoration: none;
    color: white;
    padding: 10px 22px;
}

.card-button .card:hover {
    transform: scale(1.1);
}

/* v to about */
.header-profile .to-about {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.to-about .move {
    width: 25px;
    height: 25px;
    font-size: 18px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .1s;
}

.move a {
    background-image: url(../img/svg/chevron-down.svg);
    text-decoration: none;
    padding: 11px 12px;
    border-radius: 50%;
}

/* about */
#about p {
    line-height: 20px;
}

section#about .describe {
    display: flex;
    margin-top: 20px;
    margin-bottom: -162px;
}

/* personal-details */
section.personal-details {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    /* background-color: coral; */
    width: 100%;
}

.list {
    display: flex;
    margin-top: -10px;
}

.list ul {
    list-style: none;
    margin-right: 20px;
}

.list ul:nth-child(1) {
    color: orangered;
}

.list ul li {
    line-height: 2em;
    font-size: 16px;
}

.job {
    font-weight: bolder;
    color: orangered;
}

section.my-interests {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* background-color: rgb(83, 249, 0); */
    width: 100%;
}

.my-interests .list {
    margin-top: .0em;
}

section.my-interests ul {
    display: flex;
    flex-direction: row;
    width: 60%;
    flex-wrap: wrap;
}

section.my-interests ul li {
    margin: 0 40px 20px 0;
}

section.my-interests .list img {
    border-radius: 10px;
    width: 40px;
    height: 40px;
    background-color: rgb(221, 221, 221);
}

/* service */
.container {
    width: 1000px;
    margin: auto;
    overflow: hidden;
}

.slide-row {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    transition: 3s;
}

.slide-col {
    background-color: #1f303d;
    margin: 0 20px;
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
    transform: translate(510px);
}

.user-text {
    color: rgb(235, 235, 235);
}

.user-text p {
    margin-top: -15px;
}

.user-text h2 {
    margin-top: 10px;
}

.user-img img {
    width: 50px;
}

.hero {
    position: relative;
}

.slider .indicator {
    position: absolute;
    bottom: -50px;
}

.indicator .btn {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 3px;
    border-radius: 10px;
    background-color: orangered;
    cursor: pointer;
    transition: .5s;
}

.indicator div.direction {
    width: 25px;
}

/* work and education */
.body-resume {
    display: flex;
}

.body-resume section div.section {
    display: flex;
    margin-bottom: 20px;
}

.body-resume .section .tag {
    display: flex;
    flex-direction: column;
}

.body-resume .section .tag .circle {
    width: 10px;
    height: 10px;
    background: orangered;
    border-radius: 50%;
    margin-left: -4px;
}

.body-resume .section .tag .row-vertical {
    margin-top: 20px;
    width: 3px;
    height: 80px;
    background: orangered;
    border-radius: 10px;
}

.tag-text {
    margin-top: -5px;
    font-size: 14px;
    margin-left: 20px;
    padding: 0px 20px 0px 0px;
}

.tag-text .th {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    margin: 10px 0px;
    background: orangered;
    width: 100px;
    height: 25px;
}

/* portfolio */
.portfolio-body {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin: auto;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.portfolio-body .img-thumbnail {
    display: flex;
    border: 2px solid transparent;
    margin: 10px 5px;
    transition: all 1s;
}

.img-thumbnail img {
    border-radius: 3px;
}

.slide-img {
    transform: scale(.90);
    transition: all 3s;
}

.category-body {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    margin: 0px auto 20px;
}

.category h4 {
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 14px;
    transition: all 2s;
    cursor: pointer;
}

/* * BLOG & ARTICLE */
.container-blog {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    width: 75%;
    flex-wrap: wrap;
    box-sizing: border-box;
}

div.card-blog {
    width: 30%;
    display: flex;
    flex-direction: column-reverse;
    position: relative;

}

.label-blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
    background: orangered;
    padding: 5px;
}

.label-blog h4 {
    font-size: 14px;
    margin-bottom: 3px;
}

.label-blog p {
    font-size: 10px;
}

.text-blog {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.img-blog img {
    border-radius: 3px;
}

.text-blog h4 {
    margin: 10px 0px;
}

.img-blog {
    display: flex;
    justify-content: space-evenly;
}


/* projects */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 14px;
}

.card {
    width: 20%;
    background-color: #eaeaea;
    margin: 10px;
    border: 1px solid #aaa;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 40px;
}

.header {
    height: 150px;
    background-color: #666;
}

.content {
    text-align: center;
    padding: 10px 15px;
}

.content p {
    width: 200px;
    margin-bottom: 20px;
    width: 100%;
}

.content a {
    font-size: 14px;
    text-decoration: none;
}

.content a:hover {
    text-decoration: underline;
}

.large {
    display: inline-block;
    padding-left: 2px;
    transform: scaleX(1.3);
}

/* galery */
#galery .container {
    justify-content: center;
}

#galery .container .card {
    height: 300px;
}

#galery div.form {
    margin-top: 30px;
    display: flex;
}

#galery input {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    border-radius: 5px 0 0 5px;
}

#galery button {
    font-size: 12px;
    border-radius: 0 5px 5px 0;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

/* footer */
footer {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    font-size: 14px;
    background-color: #011627;
    color: white;
}

/* projects */
.header img {
    background-repeat: no-repeat;
    background-size: cover;
}

/* contact me */
#contact {
    padding-bottom: 100px;
}

#contact .container ul {
    display: flex;
    flex-direction: column;
}

#contact .container ul li {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

#contact .container ul li input,
textarea,
button {
    background: #011627;
    padding: 5px;
    border-radius: 2px;
    border: .2rem solid #011627;
}

#contact .container ul li label {
    margin-bottom: 5px;
}

#contact .container ul li textarea {
    width: 600px;
    height: 100px;
}

#contact .container ul li button {
    color: white;
    background-color: #011627;
}

#maps {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* responsive breakpoint */
@media screen and (max-width: 1088px) {

    section.my-interests ul {
        width: 350px;
    }

    .portfolio-body {
        width: 70%;
    }

    .portfolio-body .img-thumbnail {
        margin: 10px 5px;
    }

    .category-body {
        width: 50%;
    }

    .container-blog {
        width: 65%;
        justify-content: space-between;
        
    }

    div.card-blog {
        width: 43%;
    }
}

@media screen and (max-width: 1000px) {
    nav ul {
        width: 50%;
    }

    .container {
        width: 700px;
    }

    section.my-interests ul {
        width: 100%;
    }

    .slide-col {
        transform: translate(680px);
    }

    .portfolio-body {
        width: 80%;
    }

    .portfolio-body .img-thumbnail {
        margin: 10px -5px;
    }

    .category-body {
        width: 50%;
    }

    .container-blog {
        width: 75%;
        justify-content: space-between;

    }

    div.card-blog {
        width: 40%;
        margin: 0px 20px 30px;
    }
}

@media screen and (max-width: 840px) {
    nav ul {
        width: 60%;
    }

    section.my-interests ul {
        width: 300px;
    }

    .slide-col {
        transform: translate(680px);
    }

    .portfolio-body {
        width: 92%;
    }

    .portfolio-body .img-thumbnail {
        margin: 10px 0px;
    }

    .category-body {
        width: 60%;
    }

    .container-blog {
        width: 90%;
        justify-content: space-between;

    }

    div.card-blog {
        width: 40%;
        margin: 0px 20px 30px;
    }
}

@media screen and (max-width: 768px) {
    nav ul {
        width: 60%;
    }

    section {
        width: 85%;
    }

    aside ul li {
        margin: 8px;
    }

    aside ul li a img {
        padding: 8px;
    }

    section#about .describe {
        flex-direction: column;
        margin-bottom: 50px;
    }

    section.personal-details,
    section.my-interests {
        margin-bottom: -230px;
    }

    section.personal-details .list ul li {
        font-size: 1em;
    }

    section.my-interests ul {
        display: flex;
        flex-direction: row;
        width: 350px;
        flex-wrap: wrap;
    }

    section.my-interests ul li {
        margin: 10px 40px 15px 0;
    }

    section.my-interests .list img {
        width: 40px;
        height: 40px;
    }

    .card {
        width: 40%;
        margin-bottom: 25px;
    }

    #contact .container ul li textarea {
        width: 430px;
        height: 100px;
    }

    .portfolio-body {
        width: 88%;
    }

    .portfolio-body .img-thumbnail {
        margin: 10px 0px;
    }

    .category-body {
        width: 60%;
    }

    .container-blog {
        width: 85%;
        justify-content: space-between;

    }

    div.card-blog {
        width: 40%;
        margin: 0px 20px 30px;
    }

}

@media screen and (max-width: 676px) {
    nav ul {
        width: 70%;
    }

    .container-blog {
        width: 95%;
        justify-content: space-between;

    }

    div.card-blog {
        width: 40%;
        margin: 0px 20px 30px;
    }
}

/* ukuran mobile */
@media screen and (max-width: 576px) {

    .menu-toggle {
        display: flex;
    }

    nav ul {
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        background-color: #011627;
        align-items: center;
        justify-content: space-evenly;
        z-index: -2;
        transform: translateX(100%);
        transition: all 1s;
    }

    nav ul.slide {
        transform: translateX(0);
    }

    nav ul.slideBack {
        transform: translateX(100%);
    }

    section {
        width: 90%;
    }

    section h2 {
        margin-bottom: 20px;
        font-size: 16px;
    }

    section p {
        font-size: 14px;
    }

    .req {
        width: 80px;
    }

    aside ul li {
        margin: 5px;
    }

    aside ul li a img {
        padding: 5px;
    }

    section#about .describe {
        flex-direction: column;
    }

    section.personal-details {
        margin-bottom: -335px;
    }

    section.my-interests {
        margin-top: 50px;
        margin-bottom: -380px;
    }

    section.personal-details .list ul li {
        font-size: 14px;
    }

    section.my-interests ul {
        display: flex;
        flex-direction: row;
        width: 210px;
        flex-wrap: wrap;
    }

    section.my-interests ul li {
        margin: 10px 20px 0 0;
    }

    section.my-interests .list img {
        width: 30px;
        height: 30px;
    }

    .card {
        width: 100%;
        margin-bottom: 25px;
    }

    #contact .container ul li textarea {
        width: 230px;
        height: 100px;
    }

    .container {
        width: 300px;
    }

    .slide-col {
        transform: translate(850px);
    }

    .indicator .btn {
        width: 10px;
        height: 10px;
    }

    .indicator div.direction {
        width: 20px;
    }

    /* work & education */
    .body-resume {
        flex-direction: column;
    }

    .body-resume section.work {
        margin-bottom: -48px;
    }

    .portfolio-body {
        width: 85%;
    }

    .portfolio-body .img-thumbnail {
        margin: 6px 0px;
    }

    .portfolio-body .img-thumbnail img {
        width: 200px;
        height: 120px;
    }

    .category-body {
        width: 60%;
    }

    .container-blog {
        width: 90%;
        justify-content: space-between;
    }

    div.card-blog {
        width: 40%;
        margin: 0px 20px 30px;
    }

    .img-blog img {
        width: 200px;
        height: 120px;
    }
}

@media screen and (max-width: 360px) {
    /* work & education */

    .body-resume .section .tag .row-vertical {
        height: 110px;
    }

    .tag-text .th {
        width: 90px;
        height: 20px;
    }

    .tag-text .th p {
        font-size: 12px;
    }

    .tag-text h3 {
        font-size: 14px;
    }

    div.hr {
        height: 2px;
    }

    .header-profile section h2 span#typed {
        font-size: .7em;
    }

    .portfolio-body {
        flex-wrap: wrap;
    }

    .portfolio-body .img-thumbnail {
        margin: 6px 0px;
    }

    .portfolio-body .img-thumbnail img {
        width: 300px;
        height: 200px;
    }

    .category-body {
        width: 100%;
        flex-wrap: wrap;
    }

    .category {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin: 0px -30px;
        width: 50%;
        margin-bottom: 10px;
    }

    .container-blog {
        width: 100%;
        justify-content: center;
    }

    div.card-blog {
        width: 100%;
        margin: 0px 20px 30px;
    }

    .img-blog img {
        width: 280px;
        height: 180px;
    }
}