@font-face {
    font-family: 'Rubik-Regular';
    src: url('../font/Rubik-Regular.ttf');
}

@font-face {
    font-family: 'Rubik-Light';
    src: url('../font/Rubik-Light.ttf');
}

@font-face {
    font-family: 'boarding';
    src: url('../font/Boarding\ PersonalUse.ttf');
}

* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Rubik-Regular',
        Arial,
        Helvetica,
        sans-serif;
}

.none {
    display: none;
}

.body-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-box .box {
    width: 15px;
    height: 5px;
    background-color: rgb(255, 217, 0);
    margin: 10px;
    border-radius: 10px;
}

.box.jingga {
    background-color: rgb(100, 27, 216);
}

/* navbar */
nav {
    display: flex;
    background-color: rgb(100, 27, 216);
    justify-content: space-around;
    height: 50px;
    color: rgb(187, 129, 242);
    align-items: center;
    width: 100%;
    position: fixed;
    z-index: 999;
}

nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
}

nav .logo {
    font-family: 'boarding', Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    color: rgb(255, 255, 255);
}

nav ul li a {
    font-family: 'Rubik-Regular', sans-serif;
    color: rgb(220, 209, 232);
    text-decoration: none;
}

nav ul li a:hover {
    color: rgb(230, 211, 247);
}

/* hamburger menu */
.menu-toggle {
    display: none;
    flex-direction: column;
    height: 15px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle .toggle {
    display: block;
    width: 18px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    transition: all .5s;
}

.menu-toggle input {
    position: absolute;
    top: -2px;
    left: -11px;
    width: 50px;
    height: 28px;
    opacity: 0;
    cursor: pointer;
    z-index: 4;
}

/* hamburger menu animation */
.menu-toggle .toggle:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle .toggle:nth-child(4) {
    transform: rotate(0 100%);
}

.menu-toggle input:checked~.toggle:nth-child(2) {
    transform: rotate(45deg) translate(0, -1px);
}

.menu-toggle input:checked~.toggle:nth-child(4) {
    transform: rotate(-45deg) translate(3px, -7px);
}

.menu-toggle input:checked~.toggle:nth-child(3) {
    transform: scale(0);
}

/* main */
main article.header-profile {
    background-image: url('../img/green.jpg');
    padding-top: 100px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -300px;
    color: white;
}

#about,
#projects,
#galery,
#contact {
    padding-top: 70px;
}

section {
    min-height: 500px;
    box-sizing: border-box;
    width: 73.5%;
    margin: auto;
    /* background-color: tomato; */
}

section .thumbnail {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}

section img.profile {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 1px solid snow;
}

section .name,
section .job-des {
    text-align: center;
}

section h2 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 30px;
}

section p {
    text-align: left;
}

aside {
    margin-top: -300px;
}

aside ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

aside ul li {
    margin: 10px;
}

aside ul li a img {
    padding: 10px;
}

/* about */
section#about .describe {
    display: flex;
    margin-top: 20px;
    margin-bottom: -162px;
}

/* personal-details */
section.personal-details {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    /* background-color: coral; */
    width: 100%;
}

.list {
    display: flex;
    margin-top: -10px;
}

.list ul {
    list-style: none;
    margin-right: 30px;
}

.list ul:nth-child(1) {
    color: rgb(62, 168, 106);
}

.list ul li {
    line-height: 2em;
    font-size: 16px;
}

.job {
    width: 41%;
    height: 18px;
    padding: 0 8px 12px;
    border-radius: 20px;
    color: white;
    background-color: rgb(33, 82, 53);
}

section.my-interests {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* background-color: rgb(83, 249, 0); */
    width: 100%;
}

.my-interests .list {
    margin-top: .0em;
}

section.my-interests ul {
    display: flex;
    flex-direction: row;
    width: 60%;
    flex-wrap: wrap;
}

section.my-interests ul li {
    margin: 0 40px 20px 0;
}

section.my-interests .list img {
    border-radius: 10px;
    width: 40px;
    height: 40px;
    background-color: rgb(221, 221, 221);
}

/* projects */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 14px;
}

.card {
    width: 20%;
    background-color: #eaeaea;
    margin: 10px;
    border: 1px solid #aaa;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 40px;
}

.header {
    height: 150px;
    background-color: #666;
}

.content {
    text-align: center;
    padding: 10px 15px;
}

.content p {
    width: 200px;
    margin-bottom: 20px;
    width: 100%;
}

.content a {
    font-size: 14px;
    text-decoration: none;
}

.content a:hover {
    text-decoration: underline;
}

.large {
    display: inline-block;
    padding-left: 2px;
    transform: scaleX(1.3);
}

/* galery */
#galery .container {
    justify-content: center;
}

#galery .container .card {
    height: 300px;
}

#galery div.form {
    margin-top: 30px;
    display: flex;
}

#galery input {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    border-radius: 5px 0 0 5px;
}

#galery button {
    font-size: 12px;
    border-radius: 0 5px 5px 0;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

/* footer */
footer {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    font-size: 14px;
    background-color: rgb(36, 36, 36);
    color: white;
}

/* projects */
.header img {
    background-repeat: no-repeat;
    background-size: cover;
}

/* contact me */
#contact {
    padding-bottom: 100px;
}

#contact .container ul {
    display: flex;
    flex-direction: column;
}

#contact .container ul li {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

#contact .container ul li input,
textarea,
button {
    padding: 5px;
    border-radius: 2px;
}

#contact .container ul li label {
    margin-bottom: 5px;
}

#contact .container ul li textarea {
    width: 600px;
    height: 100px;
}

#contact .container ul li button {
    background-color: rgb(100, 27, 216);
}


/* responsive breakpoint */
@media screen and (max-width: 1000px) {
    nav ul {
        width: 50%;
    }
}

@media screen and (max-width: 840px) {
    nav ul {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    nav ul {
        width: 60%;
    }

    section {
        width: 85%;
    }

    aside ul li {
        margin: 8px;
    }

    aside ul li a img {
        padding: 8px;
    }

    section#about .describe {
        flex-direction: column;
        margin-bottom: 50px;
    }

    section.personal-details,
    section.my-interests {
        margin-bottom: -230px;
    }

    .job {
        width: 41%;
        height: 18px;
        padding: 0 8px 12px;
        border-radius: 20px;
        background-color: rgb(34, 99, 61);
    }

    section.personal-details .list ul li {
        font-size: 1em;
    }

    section.my-interests ul {
        display: flex;
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
    }

    section.my-interests ul li {
        margin: 10px 40px 15px 0;
    }

    section.my-interests .list img {
        width: 40px;
        height: 40px;
    }

    .card {
        width: 40%;
        margin-bottom: 25px;
    }

    #contact .container ul li textarea {
        width: 430px;
        height: 100px;
    }
}

@media screen and (max-width: 676px) {
    nav ul {
        width: 70%;
    }
}

/* ukuran mobile */
@media screen and (max-width: 576px) {

    .menu-toggle {
        display: flex;
    }

    nav ul {
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        background-color: rgb(100, 27, 216);
        align-items: center;
        justify-content: space-evenly;
        z-index: -2;
        transform: translateX(100%);
        transition: all 1s;
    }

    nav ul.slide {
        transform: translateX(0);
    }

    nav ul.slideBack {
        transform: translateX(100%);
    }

    section {
        width: 90%;
    }

    section h2 {
        margin-bottom: 20px;
        font-size: 16px;
    }

    section p {
        font-size: 14px;
    }

    aside ul li {
        margin: 5px;
    }

    aside ul li a img {
        padding: 5px;
    }

    section#about .describe {
        flex-direction: column;
    }

    section.personal-details {
        margin-bottom: -335px;
    }

    section.my-interests {
        margin-bottom: -380px;
    }

    section.personal-details .list ul li {
        font-size: .6em;
    }

    section.my-interests ul {
        display: flex;
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
    }

    section.my-interests ul li {
        margin: 10px 20px 0 0;
    }

    section.my-interests .list img {
        width: 30px;
        height: 30px;
    }

    .job {
        width: 41%;
        height: 13px;
        padding: 0 8px 8px;
        border-radius: 20px;
        background-color: rgb(30, 90, 55);
    }

    .card {
        width: 100%;
        margin-bottom: 25px;
    }

    #contact .container ul li textarea {
        width: 230px;
        height: 100px;
    }
}